
body {
    margin: 0;
    padding: 0;
    background-color: #4D0FE7  
}

h1 {
    font-family: 'Hammersmith One', cursive;
}
#login span i {
    color:  #4CA90B;
    font-size: 150px;
    text-align: center;
    display: block;
    margin-top: 5%; 
}

#login h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin: 5% 0 0;
}

/*====================3D BOTTON LOG IN=================*/

#login-button {
    position: absolute;
    top: 55%; left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transform-origin: center center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

#login-button span {
    position: absolute;
    top:0; left: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Roboto', serif;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    color: #fff;
    transition: 1s;
    
}
#login-button span.front {
    transform: rotateX(0deg) translateZ(20px);
}

#login-button:hover span.front {
    transform: rotateX(-180deg) translateZ(20px);
}

#login-button span.back {
    transform: rotateX(180deg) translateZ(20px);
}

#login-button:hover span.back {
    transform: rotateX(0deg) translateZ(20px);
}

#login-button span.center {
    background: linear-gradient(to top, #2F6C06, #63F003);
}
#login-button span.center:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #63F003, #2F6C06);
    border-radius: 30px;
    transform: translateZ(-1px);
}

#login-button:hover span.center {
    transform: rotateX(-180deg);
}

/*=============================================*/

